*{
    margin: 0;
    padding: 0;
}
.top{
    background-color: #F8CB2E;
    height: 50px;
    position: relative;
}
.top div{
    position: absolute;
    top: 15px;
    left: 130px;
    font-weight: 700;
}
.top div i{
    padding-right: 10px;
}
